*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #50448C, #A34D91, #E16183, #FF896C);
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  color: white;
  border: 0.5px solid black;
  outline: none;
  /* background-color: rgba(225, 225, 225, 0.8); */
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(220, 220, 220, 0.8);
}

.orange-btn {
  background-color: #e99108; 
}

.dark-grey-btn {
  background-color: rgba(62, 65, 67, 0.9);
}

button {
  background-color: rgba(95, 96, 98, 0.9);
}
.span-two {
  grid-column: span 2;
}

.rounded-bl {
  border-radius: 0 0 0 1rem;
}

.rounded-br {
  border-radius: 0 0 1rem 0;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 1rem 1rem 0 0;
}

.output .previous-operand {
  color: rgba(225, 225, 225, 0.75);
  font-size: 2rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

